/* style.css */

/* reset */
*{ 
  margin: 0; padding: 0;
  box-sizing: border-box;
}
ul{ list-style-type: none;}
a{ 
  text-decoration: none;
  color: #333333;
}

/* 공통 스타일 */
.clear { clear: both;}
.sub_title {
  font-size: 24px;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 13px;
  color: #666;
}




#main_header > h1 {
  float: left;
  margin-top: 40px;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
#main_header {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  background: #ccc;
}
user agent stylesheet
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
#main_header {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  background: #ccc;
}
html {
  color: -internal-root-color;
}

#main_gnb .depth2.show {
  background: #83d154;
  height: 140px;
  padding: 1em;
  padding-bottom: 95%;
  overflow: hidden;
}
#main_gnb .depth2{
  position: absolute;
  width: 100%;
  left: 0;
  height: 0;
  overflow: hidden;
  transition-duration: 0.4s;
}
#main_gnb .depth2 a {
  /* outline: 1px solid red; */
  height: 30px;
  display: block;
  font-weight: bold;
}
#main_gnb .depth2 a:hover {
  
  color: #bb692d;
}

user agent stylesheet
div {
  display: block;
}
#main_header {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  background: #ccc;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}
user agent stylesheet
html {
  color: -internal-root-color;
}
user agent stylesheet
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
#main_header {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  background: #ccc;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}
user agent stylesheet
html {
  color: -internal-root-color;
}
user agent stylesheet
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
#main_header {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  background: #ccc;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}
user agent stylesheet
html {
  color: -internal-root-color;
}
#main_header {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  background: #ccc;
}
header {
  display: block;
}
user agent stylesheet
html {
  color: -internal-root-color;
}

user agent stylesheet
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
#main_header {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  background: #ccc;
}
#main_gnb > .depth1 > li {
  position: relative;
  float: right;
  margin-top: 40px;
  /* outline: 1px solid green; */
  border-bottom: 3px solid #fff;
  z-index: 99;
  padding-bottom: 10px;
  /* outline: 1px solid green; */
}
user agent stylesheet
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
#main_header {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  background: #ccc;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}
user agent stylesheet
html {
  color: -internal-root-color;
}

#main_gnb > .depth1 > li > a {
  display: block;
  font-weight: bold;
  font-size: 1.1em;
  width: 130px;
}
a {
  text-decoration: none;
  color: #35302d;
}
user agent stylesheet
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
user agent stylesheet
li {
  text-align: -webkit-match-parent;
}
#main_header {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  background: #ccc;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}
user agent stylesheet
html {
  color: -internal-root-color;
}



#main_gnb .depth2 {
  position: absolute;
  transition-duration: 0.3s;
  left: 0;
  height: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  top: 36px;
}
ul {
  list-style-type: none;
}
user agent stylesheet
ul ul {
  list-style-type: circle;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
user agent stylesheet
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
user agent stylesheet
li {
  text-align: -webkit-match-parent;
}
user agent stylesheet
ul {
  list-style-type: disc;
}
#main_header {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  background: #ccc;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}
user agent stylesheet
html {
  color: -internal-root-color;
}



/* 호버시 메뉴 언더라인 효과 */
#main_gnb > .depth1 > li > a:hover {
  border-bottom: 3px solid #bb692d;
}


/* 매인 배너 */
#main_banner {
  clear: both;
  position: relative;
  /* 가변이미지범위: 1200px ~ 1920(HD) */
  min-width: 1200px;
  max-width: 400px;
  margin: 0 auto;
  overflow: hidden;
  /* background: #ccc; */
  margin-bottom: 80px;
}
#main_banner .slider img { width: 1200px;}
